.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  border-bottom: 10px dotted darkblue;

  .home-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;

    h1 {
      font-size: 120px;
    }

    h2 {
      font-size: 50px;
      margin-top: 50px;
    }

    div {
      border-bottom: 3px solid darkorange;
      margin-top: 10px;
    }

    div:nth-of-type(1) {
      width: 40%;
    }

    div:nth-of-type(2) {
      width: 30%;
      margin-top: 18px;
    }
  }

  .home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 240px;

    p {
      font-size: 30px;
      font-family: 'Julius Sans One', sans-serif;
      color: darkblue;
    }

    i {
      font-size: 50px;
      color: darkorange;
      margin-top: 10px;
    }
  }
}