.projects-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 90px;

  // projects heading
  .projects-heading {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 10px;

    h2 {
      font-size: 100px;
      margin-right: 50px;
    }

    div {
      width: 60%;
      align-self: flex-end;
      border-bottom: 5px solid darkorange;
      margin-top: 10px;
    }
  }

  .projects-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    // padding-top: 70px;
  }
}