header {
  z-index: 10;

  nav {
    width: 45%;
    display: flex;
    justify-content: space-around;

    a {
      color: darkblue;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 18px;
    }

    a:hover {
      color: darkblue;
      font-weight: bolder;
      border-bottom: 1px solid white;
    }
  }

  .contact-icons {
    width: 13%;
    display: flex;
    justify-content: space-around;

    a {
      color: black;

      i {
        font-size: 40px;
        color: darkblue;
        color: white;
      }

      i:hover {
        color: darkblue;
      }
    }
  }
}

