header {
  // navigation
  nav {
    width: 40%;
    display: flex;
    justify-content: space-around;

    a {
      color: darkblue;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 18px;
    }
  }

  // contact icons
  .contact-icons {
    width: 13%;
    display: flex;
    justify-content: space-around;
    a {
      color: black;

      i {
        font-size: 40px;
        color: darkblue;
        color: white;
      }
    }
  }
}

